<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui= "http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f= "http://java.sun.com/jsf/core"
	  xmlns:h= "http://java.sun.com/jsf/html">
	  
	  <ui:composition>
	  	<h6 style="text-align:center">Created by Nathaniel @ Grand Canyon University</h6>
	  </ui:composition>
	  
</html>