<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<head>
	<title><ui:insert name="pageTitle">Order Responce Page</ui:insert></title>
	</head>
	
 <body>
 <h1 style="text-align:center"> Hello #{user.firstName}!</h1>
 </body>
</html>