<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui= "http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f= "http://java.sun.com/jsf/core"
	  xmlns:h= "http://java.sun.com/jsf/html">
	  
	<head>
	<title><ui:insert name="pageTitle">Form Page</ui:insert></title>
	</head>
	
 <body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="replaceContent">
			<h:form style="text-align:center">
				<h:messages style = "color:red;margin:8px;" /> 
				First Name: <h:inputText value="#{user.firstName}"/>
				<br/>
				Last Name: <h:inputText value="#{user.lastName}"/>
				<br/><br/>
				<h:commandButton action="#{fromContoller.onSubmit()}" value="Submit" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>

</html>