<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui= "http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f= "http://java.sun.com/jsf/core"
	  xmlns:h= "http://java.sun.com/jsf/html">
	  
	<head>
	<title><ui:insert name="pageTitle">Respond</ui:insert></title>

	</head>
	
 <body>
 <ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="replaceContent">
			<h1 style="text-align:center">Hello #{user.firstName}!</h1>
			<h3 style="text-align:center"> Hello #{user.firstName} #{user.lastName}, Your orders are: </h3>
			
			<h:dataTable style="text-align:center; border: 1px black solid;
			margin:auto;" value="#{orders.orderList}" var="o">
				<h:column>
					<f:facet name="header">Order Number</f:facet>
					#{o.orderNum}
				</h:column>
				<h:column>
					<f:facet name="header">Product Name</f:facet>
					#{o.productName}
				</h:column>v
				<h:column>
					<f:facet name="header">Price</f:facet>
					#{o.price}
				</h:column>
				<h:column>
					<f:facet name="header">Quant Ordered</f:facet>
					#{o.quant}
				</h:column>
			
			
			</h:dataTable>
		</ui:define>
	</ui:composition>
</body>

</html>